header.header
    .container
        .header-top
            a.header-logo(href="index.html") MoGo
            ul.header-menu
                li.header-menu-item
                    a.header-menu-link(href="#") About
                li.header-menu-item
                    a.header-menu-link(href="#") Service
                li.header-menu-item
                    a.header-menu-link(href="#") Work
                li.header-menu-item
                    a.header-menu-link(href="#") Blog
                li.header-menu-item
                    a.header-menu-link(href="#") Contact
                li.header-menu-item
                    a.header-menu-icon(href="#")
                        i.fa.fa-shopping-cart
                li.header-menu-item
                    a.header-menu-icon(href="#")
                        i.fa.fa-search
        .header-content
        .header-bottom