html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.4rem; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .block-box-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .block-box-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    padding-bottom: 3.5rem;
    position: relative; }
    .block-box-heading:after {
      content: "";
      width: 6.5rem;
      height: 4px;
      background-color: #e98382;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      bottom: 0; }
  .block-box-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999999;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 10rem; }

.header {
  min-height: 100rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover;
  color: #ffffff; }
  .header-logo {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff; }
  .header-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; }
  .header-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-menu-icon {
    color: #ffffff; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-menu-item:not(:first-child) {
    margin-left: 5rem; }
  .header-content {
    padding-top: 17rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center; }
  .header-content-caption {
    font-size: 7.2rem;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 3rem; }
  .header-content-main {
    font-size: 15rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5rem;
    margin-bottom: 5rem; }
    .header-content-main:after {
      content: "";
      position: absolute;
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 6rem;
      height: 0.5rem;
      background-color: #ffffff; }
  .header-content-more {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 4px solid #ffffff;
    display: inline-block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-bottom-item {
      padding-top: 2.5rem;
      border-top: 5px solid #ffffff;
      width: calc(25% - 3rem);
      margin-left: 3rem;
      opacity: 0.6;
      position: relative;
      cursor: pointer; }
    .header-bottom-item:before {
      content: "";
      height: 0.5rem;
      width: 7rem;
      background-color: #e98382;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
      -webkit-transition: all 0.25 linear;
      transition: all 0.25 linear; }
    .header-bottom-item:hover, .header-bottom-item.is-active {
      opacity: 1; }
      .header-bottom-item:hover:before, .header-bottom-item.is-active:before {
        opacity: 1; }
    .header-bottom-number {
      font-weight: bold;
      font-size: 2.4rem; }
    .header-bottom-text {
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .header-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .header-menu-link {
      color: #ffffff;
      display: inline-block;
      padding-bottom: 1rem;
      border-bottom: 4px solid transparent; }
    .header-menu-link:hover {
      color: #eed889;
      border-bottom-color: #eed889; } }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header-content {
        padding-top: 5rem; }
      .header-content-main {
        font-size: 10rem; }
      .header-bottom-item {
        text-align: center;
        padding-top: 1.5rem; }
      .header-bottom {
        margin-top: 5rem; } }
  @media screen and (max-width: 767px) {
    .header-toggle {
      display: inline-block;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .header-bottom-text {
      display: none; }
    .header-content-caption {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .header-content-main {
      font-size: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem; }
    .header-bottom-item {
      text-align: center;
      padding-top: 1.5rem; }
    .header-bottom-item:before {
      width: 35%; }
    .header--bottom {
      margin-top: 5rem; }
    .header-content {
      padding-top: 5rem; }
    .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 300px;
      display: block;
      padding: 2.5rem 2.5rem;
      z-index: 10;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform .25s ease-in;
      transition: -webkit-transform .25s ease-in;
      transition: transform .25s ease-in;
      transition: transform .25s ease-in, -webkit-transform .25s ease-in; }
      .header-menu.is-expand {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
    .header-menu-item {
      margin-bottom: 1rem; }
    .header-menu-icon {
      display: block;
      color: #333333;
      padding: 1.5rem; }
      .header-menu-icon:hover {
        color: #e98382; }
    .header-menu-link {
      color: #333333;
      width: 100%;
      padding: 1.5rem;
      border-radius: 0.4rem; }
      .header-menu-link:hover {
        color: #fff;
        background-color: #eed889; } }

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  color: #ffffff; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about-item {
    position: relative; }
    .about-item:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      z-index: -1;
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }
  .about-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 131, 130, 0.8)), to(rgba(238, 216, 137, 0.8)));
    background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8));
    z-index: 2;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase; }
  .about-icon {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .about-title {
    font-weight: bold;
    font-size: 1.8rem; }
